body {
    padding: 20px;
}

h1 {
    font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.base-header {
    margin-left: 15vw;
    margin-right: 15vw;
}

#potions {
    margin-left: 15vw;
    margin-right: 15vw;
}

.table-main {
    width: 100%;
    table-layout: fixed;
}

.list {
    text-align: left;
}

.table-main tbody tr {
    transition: background-color 0.1s ease;
}

.table-main tbody tr:hover {
    background-color: cornsilk;
}

.spacing {
    height: 30px;
}

.head-1 {
    width: 70%;
}

head-2 {
    width: 30%;
}

.pagination li {
    display: inline-block;


    margin-left: 10px;
    margin-right: 10px;

}

.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
}

.table-navigation {
    height: 30px;
}

.error {
    margin-left: 15vw;
    margin-right: 15vw;
}
