.table-navigation {
  margin: 0;
  padding: 0;

  background-color: #333333;
}

.table-main {
    width: 100%;
}

.pagination {
margin: 0;
padding: 0;
overflow: hidden;
list-style-type: none;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111111;
}