body {
    padding: 10px;
    background-image: url("geometry.png");
    background-color: #cccccc;
}

.table-main {
    width: 100%;
    table-layout: fixed;
}

.table-main tbody tr {
    transition: background-color 0.1s ease;
}

.table-main tbody tr:hover {
    background-color: rgba(63, 127, 191, 0.26);
}

.spacing {
    height: 30px;
}

.custom-pagination{
    display: inline;
}

.custom-margin {
    margin-right: 10px;
}

.sign-in-spacing {
    height: 7px;
}

.vertical-center {
  min-height: 70%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 70vh; /* These two lines are counted as one 🙂       */
  display: flex;
  align-items: center;
}

.over-character-limit{
    background-color: red;
}