<!DOCTYPE html>
<html lang="en">

<head>
    {% block head %}

    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Raleway" />
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta charset="UTF-8">
    {% if title %}
    <title>{{ title }} - Alchemy 5E</title>
    {% else %}
    <title>Welcome to D&D Alchemy!</title>
    {% endif %}

    {% endblock %}
</head>

<body>

    <div class="base-header">

        <div>
            <h1>Alchemy</h1>
        </div>

        <hr>

        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li> {{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}

    </div>

    {% block content %}{% endblock %}

</body>

</html>
