<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

    <meta charset="UTF-8">
    {% if title %}
    <title>{{ title }} - Alchemy 5E</title>
    {% else %}
    <title>Welcome to D&D Alchemy!</title>
    {% endif %}

    {% endblock %}
</head>

<body>
    <div>
        <h1>Alchemy</h1>
    </div>

    <hr>

    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
        {% for message in messages %}
        <li> {{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}

    {% block content %}{% endblock %}

</body>
</html>