{% extends "base.html" %}

{% block scripts  %}

    {{ super() }}

    <script type=text/javascript>
      $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
    </script>

    <script type="text/javascript">
            var potions_temp = {{ potions|tojson }};
    </script>

    <script src="{{ url_for('static', filename='list.min.js') }}"></script>
    <script src="{{ url_for('static', filename='main.js') }}"></script>

{% endblock %}

{% block app_content %}

    <div id="potions">

        {% if current_user.admin == True %}
        <div class="alert alert-success" role="alert"><b>Welcome!</b> This account possesses admin privileges. Remember, with great power come zero responsibilities.</div>
        {% else %}
        <p>Welcome to D&D Alchemy {{ current_user.username }}! Feel free to do pretty much nothing.</p>
        <div class="spacing"></div>
        {% endif %}

        <div class="input-group">
          <span class="input-group-addon" id="basic-addon1">Search</span>
          <input type="text" class="form-control search" id="search" placeholder="Search" aria-describedby="basic-addon1">
        </div>

        <div class="spacing"></div>

        <table class="table-navigation">
            <tr>
                <td>
                    <button type="button" class="jPaginateBack btn btn-primary custom-margin"> Previous </button>
                </td>

                <td>
                    <button type="button" class="jPaginateNext btn btn-primary custom-margin"> Next </button>
                </td>

                <td>
                    <nav aria-label="Page navigation custom-margin">
                        <ul class="pagination custom-pagination"></ul>
                    </nav>
                </td>

            </tr>
        </table>

        <div class="spacing"></div>

        <table class="table-main">

            <thead>
                <tr>
                    <th><a data-sort="name" class="sort">Name</a></th>
                    <th><a data-sort="cost" class="sort">Cost</a></th>
                </tr>
            </thead>

            <tbody class="list"></tbody>

        </table>

        <div class="spacing"></div>

    </div>

{% endblock %}
