{% extends "base.html" %}

{% block head %}
{{ super() }}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="{{ url_for('static', filename='list.min.js') }}"></script>
<script src="{{ url_for('static', filename='main.js') }}"></script>
{% endblock %}

{% block content %}

<div id="potions">

    <p>Welcome to D&D Alchemy! Feel free to do preety much nothing.</p>

    <div class="spacing"></div>

    <form class="pure-form">

        <label for="search">Search</label>
        <input class="search" id="search" type="text" placeholder="Search" />

    </form>

    <div class="spacing"></div>

    <table class="table-navigation">
        <tr>
            <td>
                <button type="button" class="jPaginateBack pure-button">Previous</button>
            </td>

            <td>
                <button type="button" class="jPaginateNext pure-button">Next</button>
            </td>

            <td>
                <ul class="pagination"></ul>
            </td>

        </tr>
    </table>

    <div class="spacing"></div>

    <table class="table-main pure-table">

        <thead>
            <tr>
                <th><a data-sort="name" class="sort head-1">Name</a></th>
                <th><a data-sort="cost" class="sort head-2">Cost</a></th>
            </tr>
        </thead>

        <tbody class="list"></tbody>

    </table>

    <div class="spacing"></div>



</div>
{% endblock %}
