{% extends "base.html" %}

<!-- Look into forms.py for explanation. -->

{% block app_content %}
    <div class="container-fluid vertical-center">

        <div class="col col-md-4">
        </div>

        <div class="col-md-4 ">

            <div class="panel panel-primary login-container animated bounceIn">

                <div class="panel-heading">Sign In</div>

                <div class="panel-body">

                    {% with messages = get_flashed_messages() %}
                      {% if messages %}
                        {% for message in messages %}
                    <div class="alert alert-warning" role="alert"><span class="glyphicon glyphicon-warning-sign" aria-hidden="true"></span> {{ message }}</div>
                        {% endfor %}
                      {% endif %}
                    {% endwith %}

                    <form action="" method="post" novalidate>

                        {{form.hidden_tag()}}

                        <div class="input-group">
                            <span class="input-group-addon" id="sizing-addon1"><span class="glyphicon glyphicon-user" aria-hidden="true"></span></span>
                            <input type="text" placeholder="Username" class="form-control" name="username" size="32" value="{{request.form.username }}" aria-describedby="sizing-addon1">
                        </div>

                        <div class="sign-in-spacing"></div>

                        {% for error in form.username.errors %}
                            <div class="alert alert-danger" role="alert"> <span class="glyphicon glyphicon-warning-sign" aria-hidden="true"></span>{{ error }}</div>
                        {% endfor %}

                        <div class="sign-in-spacing"></div>

                        <div class="input-group">
                            <span class="input-group-addon" id="sizing-addon2"><span class="glyphicon glyphicon-lock" aria-hidden="true"></span></span>
                            <input type="password" placeholder="Password" class="form-control" name="password" size="32" value="{{request.form.password }}" aria-describedby="sizing-addon1">
                        </div>

                        <div class="sign-in-spacing"></div>

                        {% for error in form.password.errors %}
                            <div class="alert alert-danger" role="alert"><span class="glyphicon glyphicon-warning-sign" aria-hidden="true"></span>{{ error }}</div>
                        {% endfor %}

                        <div class="sign-in-spacing"></div>

                        <p>{{ form.remember_me()}} {{form.remember_me.label}}</p>

                        <input class="btn btn-default" type="submit" value="Login">

                    </form>
                </div>
            </div>
        </div>

        <div class="col col-md-4">

    </div>

    </div>

{% endblock %}